{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/">
  <meta charset="utf-8"/>
  <title>Spirit scores</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />

  <link rel="stylesheet" href="{% static "components/bootstrap/dist/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "components/bootstrap/dist/css/bootstrap-theme.min.css" %}" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.0.5/css/tooltipster.min.css" />
  <link rel="stylesheet" href="{% static "css/blue.css" %}" />

  {% block headercss %}
  {% endblock %}
</head>



<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Leaguevine Spirit Scores</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Dutch Outdoor Open 2015<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/tournaments/19795/">Speeldag 1</a></li>
            <li><a href="/tournaments/19796/">Speeldag 2</a></li>
            <li><a href="/tournaments/19844/">Speeldag 3</a></li>
            <li><a href="/tournaments/19845/">Speeldag 4</a></li>
            <li><a href="/seasons/20541">Whole Season</a></li>
        </ul>
        </li>
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Dutch Outdoor Women 2015<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/tournaments/19797/">Speeldag 1</a></li>
            <li><a href="/tournaments/19847/">Speeldag 2</a></li>
            <li><a href="/tournaments/19848/">Speeldag 3</a></li>
            <li><a href="/tournaments/19849/">Speeldag 4</a></li>
            <li><a href="/seasons/20542">Whole Season</a></li>
        </ul>
        </li>
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Old Dutch Seasons<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/seasons/20511">Indoor Women 2014/15</a></li>
            <li><a href="/seasons/20510">Indoor Open 2014/15</a></li>
            <li><a href="/seasons/20494">Mixed 2014</a></li>
        </ul>
        </li>
        <li>
            <a href="/instructions/">Instructions</a>
        </li>
        <li>
          {% block user %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% if user_first_name %}
                    {{ user_first_name }}
                {% else %}
                    not logged in
                {% endif %} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>{% if user_first_name %}
                <a href="/logout/">logout</a>
              {% else %}
                <a href="/login/">log in</a>
              {% endif %}
              </li>
            </ul>
          {% endblock %}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container">

      {% block content %}{% endblock %}

    </div>

  {% block post %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.0.5/js/jquery.tooltipster.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.3.0/bootbox.min.js"></script>

    <script type="text/javascript">
      $(function() {
        $('.ww-tooltip').tooltipster();
      });
    </script>
  {% endblock %}
</body>
</html>	
