{% extends "base.html" %}

{% block content %}
<!-- <script type="text/javascript" src="/static/jscript/jquery-latest.js"></script>
<script type="text/javascript" src="/static/jscript/jquery.tablesorter.js"></script>

<script type="text/javascript">
$(document).ready(function()
	{
		$("#Teams").tablesorter( {sortList: [[0,0], [1,0]]} );
	}
);</script> -->
<h1>Spirit scores of game {{game.id}}</h1>

<div>League: {{game.season.league.name}}</div>
<div>Season: <a href="/season/{{game.season_id}}">{{game.season.name}}</a></div>
<div>Tournament: <a href="/tournament/{{game.tournament_id}}">{{game.tournament.name}}</a></div>
<div>Start Time: {{game.start_time}}</div>
<div>Field: {{game.game_site_id}}</div>

<div>Team 1: <a href="/team/{{game.team_1_id}}/">{{game.team_1.name}}</a></div>
<div>Team 2: <a href="/team/{{game.team_2_id}}/">{{game.team_2.name}}</a></div>

<div>Spirit of Team 1: {{game.team_1_spirit}} 
{#	{% if first_name %}<a href="/game/{{game.id}}/submit/2/">Edit</a>{% endif %}</div>#}
	<a href="/game/{{game.id}}/submit/2/">Edit</a></div>
<div>Spirit Comment for Team 1: {{game.team_1_comment}}</div>


<div>Spirit of Team 2: {{game.team_2_spirit}}
{#	{% if first_name %}<a href="/game/{{game.id}}/submit/1/">Edit</a>{% endif %}</div>#}
	<a href="/game/{{game.id}}/submit/1/">Edit</a></div>
<div>Spirit Comments for Team 2: {{game.team_2_comment}}</div>



<!-- <p><div>
{% for key,val in game.iteritems %}
	{{key}}: {{val}}<br>
{% endfor %}
</div> -->

<h2>Spirit History</h2>
{% for s in spirit.objects %}
<div>
	<div>created by: {{s.created_by.first_name}} {{s.created_by.last_name}}</div>
	<div>time: {{s.time_last_updated}}</div>
	<div>team 1 received: {{s.team_1_score}}</div>
	<div>team 1 comment received: {{s.team_1_comment}}</div>
	<div>team 2 received: {{s.team_2_score}}</div>
	<div>team 2 comment received: {{s.team_2_comment}}</div>
</div>
<p>
{% endfor %}


{% endblock content %}
