{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h2>Instructions</h2>

<h3>Adding and editing spirit scores</h3>
<p>To be able to add and edit spirit scores, you need to <a href="/login/">log in</a> to Leaguevine.
    You can do that using the dropdown menu in the top bar, click on "not logged in", and select log in from the menu.
    Once you are logged in, your username appears in the top bar.</p>

<p>You can get to a spirit-score editing screen by clicking on :
    <ul>
    <li>the Edit link on a <a href="/game/87018/">game screen</a></li>
    <li>the "Enter" button in the games section of a <a href="/tournament/19660/">tournament</a> or
        <a href="/season/20494/">season</a> overview</li>
    <li>"give" or "receive" button on a <a href="/team/26546/">team page</a></li>
    <li>"Date/Time" field of any game on a <a href="/team/26546/">team page</a></li>
    </ul>
</p>

<p class="alert-warning">The most convenient way to transcribe a spirit sheet of a whole competition day is to
    select the according <a href="/team/26546/">team</a>, and click on the Date/Time of one of the games played
    that day. That will take you to a <a href="/team/26546/2014-09-07/">page</a>
    with spirit sheets of all games played on that day.</p>

<p>If you know the leaguevine team id (e.g. 26546), you can manually construct the according URL as well,
    for instance <a href="/team/26546/2014-09-07/">/team/26546/2014-09-07/</a></p>


<h3>Viewing spirit scores</h3>
You can view spirit overviews of games, tournaments and seasons by selecting the according items in the top toolbar.
    If you know their leaguevine ids, you can also enter the URLs as follows:
<ul>
	<li><a href="/game/87018/">/game/87018/</a></li>
	<li><a href="/tournament/19660/">/tournament/19660/</a></li>
	<li><a href="/season/20494/">/season/20494/</a></li>
</ul>


<h3>Deleting spirit scores</h3>
<p>You can remove spirit scores from a <a href="/game/87018/">game view</a>. If you are logged in, a red delete button
    will appear along next to those spirit scores that you have entered yourself. You can delete them by
    clicking this button.</p>


<h3>General</h3>
<p>All data presented on this site is served from the <a href="https://www.leaguevine.com/">leaguevine</a> database.
    The sole purpose of this site is to display and edit
    <b>spirit scores</b> of Ultimate games according to
    <a href="http://wfdf.org/news-media/news/press/2-official-communication/580-wfdf-sotg-committee-approves-revisions-to-the-spirit-scoring-system">WFDF 2014</a> rules.
    If you want to change anything else than spirit scores (teams, matchups, game scores, etc.), you have to make these changes
    directly on the <a href="https://www.leaguevine.com/">main leaguevine site</a>. Clicking on the Leaguevine logo
<a href="https://www.leaguevine.com/" target="_blank"><img src="{% static "images/favicon.ico" %}"></img></a> will get you
ot the corresponding leaguevine pages.</p>


{% endblock content %}


