{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="/static/jscript/jquery-latest.js"></script>
<script type="text/javascript" src="/static/jscript/jquery.tablesorter.js"></script>

<script type="text/javascript">
$(document).ready(function()
	{
		$("#Teams").tablesorter( {sortList: [[0,0], [1,0]]} );
		$("#Games").tablesorter( {sortList: [[0,0], [1,0]]} );
	}
);</script>

{% block title %}{% endblock title %}

<!-- <p><div>
{% for key,val in info.iteritems %}
	{{key}}: {{val}}<br>
{% endfor %}
</div> -->

<h2>Teams</h2>
<table id="Teams" class="tablesorter">
	<thead>
	<tr>
		<th>Teams</th>
		<th>Avg Rec</th>
		<th>Avg Rec Tot</th>
		<th>Nr Rec</th>
		<th>Avg Given</th>
		<th>Avg Given Tot</th>
		<th>Nr Given</th>
	</tr>
	</thead>
	<tbody>
	{% for id,t in teams.iteritems %}
	<tr><td>{{t.name}}</td>
		<td>{{t.avg_received}}</td>
		<td>{{t.avg_received_total|floatformat}}</td>
		<td>{{t.nr_received}}</td>
		<td>{{t.avg_given}}</td>
		<td>{{t.avg_given_total|floatformat}}</td>
		<td>{{t.nr_given}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

<h2>Games</h2>
<table id="Games" class="tablesorter">
	<thead>
	<tr>
        <th>Date</th>
        <th>Field</th>
        <th>Team 1</th>
        <th>Score</th>
        <th>Team 2</th>
        <th>Team1 rec</th>
        <th>Team2 rec</th>
    </tr>
	</thead>
	{% for g in games %}
	<tr>
        <td>{{g.datetime|date:"D d M Y, H:i"}}</td>
        <td>{{g.game_site.name}}</td>
        <td><a href="/team/{{g.team_1_id}}/">{{g.team_1.name}}</a></td>
		<td><a href="/game/{{g.id}}/">{{g.team_1_score}} - {{g.team_2_score}}</a></td>
		<td><a href="/team/{{g.team_2_id}}/">{{g.team_2.name}}</a></td>
        <td><a href="/game/{{g.id}}/submit/2/">{% if g.team_1_spirit %}{{g.team_1_spirit}}{% else %}enter{% endif %}</a></td>
		<td><a href="/game/{{g.id}}/submit/1/">{% if g.team_2_spirit %}{{g.team_2_spirit}}{% else %}enter{% endif %}</a></td>
	</tr>
	{% endfor %}
</table>


{% endblock content %}
