{% extends "base.html" %}

{% block content %}
<h1>Spirit scores</h1>

{% block loggedin %}
{% endblock loggedin %}

<h3>Recent Tournaments</h3>
<ul>
    {% for tournament in recent_tournaments %}
    	<li><a href="/seasons/{{ tournament.season.id }}/">{{ tournament.season.league.name }} {{ tournament.season.name }}</a>:
            <a href="/tournaments/{{ tournament.id }}/">{{ tournament.name }}</a></li>
    {% endfor %}
</ul>

<h3>Recent games</h3>
    <ul>
    {% for game in recent_games %}
    	<li><a href="/games/{{ game.id }}/">{{ game.team_1.name }} - {{ game.team_2.name }}</a></li>
    {% endfor %}
    </ul>



{% endblock content %}


