{% extends "base.html" %}

{% block content %}
<h1>Spirit scores</h1>

<h2>Windmill Windup Test Tournaments</h2>
<ul>
	<li><a href="/game/87018/">/game/87018/</a></li>
	<li><a href="/tournament/19526/">/Test WW14 Open</a></li>
	<li><a href="/tournament/19527/">/Test WW14 Mixed</a></li>
	<li><a href="/tournament/19528/">/Test WW14 Women</a></li>
	<li><a href="/team/25249/">/Test Cambo Cakes</a></li>
</ul>


You are member of the following teams:<br>
<ul>
{% for t in team_players %}
<li><a href="team/{{t.team_id}}/">{{t.team.name}}</a> ({{t.team.season.name}}, {{t.team.season.league.name}})</li>
{% endfor %}
</ul>

{% endblock content %}
