{% extends "base.html" %}

{% block content %}

<h1>Team page of {{team.name}}</h1>
<h6>Season: <a href="/season/{{team.season.id}}">{{team.season.name}}</a>, {{team.season.league.name}}</h6>

<hr />

<h2>Previous Games:</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Field</th>
      <th>Time</th>
      <th>Opponent</th>
      <th>Result</th>
      <th>Given</th>
      <th>Received</th>
      {% if user_first_name %}<th>&nbsp;</th>{% endif %}
      <th>Tournament</th>
    </tr>
  </thead>
  <tbody>
{% for g in games %}
  <tr>
    <td>{{g.game_site.name}}</td>
    {% if user_first_name %}
        <td><a href="/team/{{ team.id }}/{{ g.datetime|date:"Y-m-d" }}/">{{g.datetime|date:"D d H:i"}}</a></td>
    {% else %}
        <td>{{g.datetime|date:"D d H:i"}}</td>
    {% endif %}
    <td><a href="/team/{{g.opp_id}}/">{{g.opp.name}}</a></td>
    <td><a href="/game/{{g.id}}/">{{g.score_string}}</a></td>
    <td{% if not g.spirit_given %} class="danger"{% endif %}>{% if g.spirit_given %}<span title="[rules, fouls, fairness, attitude, communication]">{{g.spirit_given}}</span>{% else %}&nbsp;{% endif %}</td>
    <td{% if not g.spirit_received %} class="danger"{% endif %}>{% if g.spirit_received %}<span title="[rules, fouls, fairness, attitude, communication]">{{g.spirit_received}}</span>{% else %}&nbsp;{% endif %}</td>
    {% if user_first_name %}
        <td>
          <a href="/game/{{g.id}}/submit/{{g.my_team}}/" class="btn btn-success ww-tooltip" title="give to {{g.opp.name}}">give</a>
          <a href="/game/{{g.id}}/submit/{{g.opp_team}}/" class="btn btn-info ww-tooltip" title="receive from {{g.opp.name}}">receive</a>
        </td>
    {% endif %}
    <td><a href="/tournament/{{g.tournament.id}}/" title="{{g.tournament.name}}"><i class="fa fa-dot-circle-o"></i></a></td>
  </tr>
{% endfor %}
  </tbody>
</table>

<!-- 
Previous games:
Field: 5   (link to field map)
Time: Saturday, 9:00
Opponent: Freespeed  (with link to their team page)
Result: W 14 - 12     or     L 5 - 15            or      submit score
(resulted in increase of your strength by 0.8)   or   (resulted in decrease of your strength by 2.3)
Spirit score you give to Freespeed:  2 + 2 + 0 + 2 + 1 = 7      or    submit score
Spirit score you received from Freespeed: 2 + 2 + 2 + 2 + 2 = 10     or   no score yet -->

{% endblock content %}


{% block post %}
  {{ block.super }}


{% endblock %}
